h1 {
	margin: 0;
}
.sidebar {
	position: fixed;
	left: 0;
	top: 72px;
	background: #f5f5f5;
	border-right: 1px solid #eee;
	height: 100%;
	z-index: 9999;
	transition: left linear .6s;
}
.nav-sidebar {
	margin-bottom: 20px;
}
.nav-sidebar .active a,
.nav-sidebar .active a:hover,
.nav-sidebar .active a:focus {
	background: #428bca;
	color: #fff;
}
@media screen and (max-width: 768px){
	.sidebar {
		top: 0;
		left: -100%;
		padding-top: 72px;
		background: rgba(0, 0, 0, .8);
	}
}