ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	padding: 0;
	margin: 0;
	position: absolute;
	top: -60px;
	color: lightgreen;
	font-size: 50px;
}
#search-box {
	position: absolute;
	width: 500px;
	left: 50%;
	top: 38%;
	margin-left: -250px;
}
.search-result {
	display: none;
	border: 1px solid rgb(204, 204, 204);
	position: absolute;
	width: 480px;
	margin-left: 10px;
	z-index: 9999;
}
.search-result li {
	line-height: 1.8;
	cursor: pointer;
	text-indent: 1em;
}
.search-result li:hover {
	background-color: #eee;
};