.selector-view ul {
	list-style: none;
}
.selector-view ul:before {
	content: '<ul>';
	color: #999;
}
.selector-view li {
	margin-left: 24px;
}
.selector-view li:before {
	content: '<li>';
	color: #999;
}