html {
	font-size: 100px;
}
body,h1,h2,h3,h4,h5,h6,ul,li{padding: 0;margin: 0;}
body{font-size: 12px;font-family: "微软雅黑";background: #cea344;}
h1 {
	color: #fff;
}
#main {width: 8rem; height: 6rem;position: relative;margin: 0 auto}
.score-board {
	position: absolute;
	width: 100%;
	height: 80px;
	left: 10px;
	top: 10px;
	color: #fff;
}
/*绳子*/
.rope {
	width: .02rem;
	background-color: #fff;
	transform-origin: center top;
	transform: rotate(0deg);
	position: absolute;
	left: 50%;
	top: 0;
}
/*钩子*/
.hook {
	width: .2rem;
	height: .25rem;
	border: .05rem solid red;
	border-bottom: none;
	position: absolute;
	bottom: -.25rem;
	left: -.14rem;
}
/*宝藏*/
.treasures {
	display: inline-block;
	position: absolute;
	text-align: center;
	cursor: pointer;
}